pkgbase = critique
	pkgdesc = A beautiful terminal UI for reviewing git diffs with syntax highlighting
	pkgver = 0.1.78
	pkgrel = 1
	url = https://github.com/remorses/critique
	arch = x86_64
	license = MIT
	makedepends = bun
	depends = git
	options = !strip
	options = !debug
	source = critique::git+https://github.com/remorses/critique.git#tag=critique@0.1.78
	sha256sums = e455f3ef8f2133b420e1c4a81d7606f5925763f69af38879661f234e9c856d96

pkgname = critique
